<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" type="image/png" href="../favicon.png" sizes="32x32">
    <title>Hello, world!</title>
</head>
<body>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if current_page == page_numbers[0] %}
      <li class="page-item"><a class="page-link" href="#" tabindex="-1" aria-disabled="true" >Назад</a></li>
    {% else %}
      <li class="page-item"><a class="page-link" href="../pages/index{{ previous_page }}.html">Назад</a></li>
    {% endif %}

    {% for page in page_numbers %}
      {% if page == current_page %}

        <li class="page-item active" aria-current="page"><a class="page-link" href="../pages/index{{ page }}.html">{{ page }} <span class="sr-only"></span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="../pages/index{{ page }}.html">{{ page }}</a></li>
      {% endif %}
    {% endfor %}

    {% if current_page == page_numbers[-1] %}
      <li class="page-item disabled">
        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Вперед</a>
      </li>
    {% else %}
      <li class="page-item">
        <a class="page-link" href="../pages/index{{ next_page }}.html">Вперед</a>
      </li>
    {% endif %}
  </ul>
</nav>

<div class="container">
<div class="row">
{% for book in books %}
    {% for row in range(2) %}
        {% if book[row] is defined %}
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src=../{{ book[row].img_src|urlencode }} class="card-img" alt="{{ book[row].title }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ book[row].title }}</h5>
                <p class="card-text">{{ book[row].author }}</p>
                {% for genre in book[row].genres %}
                  <h6><span class="badge badge-secondary">{{ genre }}</span></h6>
                {% endfor %}
                <a href=../{{ book[row].book_path|urlencode }} class="card-text" target="_blank" rel="noopener noreferrer">Читать</a>
                <!--<p class="card-text"><small class="text-muted">Last updated 5 mins ago</small></p>-->
            </div>
        </div>
    </div>
</div>
</div>
        {% endif %}
    {% endfor %}

<div class="w-100"></div>


{% endfor %}
    </div>
</div>


      <!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="../popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="../bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>